<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                <div class="header">
                    <h2>Turtle Watch</h2>
                </div>
                <div class="content">
                    <main>
                        <p>Details forthcoming.</p>
                    </main>
                </div>
            </div>
    </body>

</html>