<!DOCTYPE html>
<html lang="en">
    <% include ../head %>

    <body>
        <% include ../menu %>
        <div class="content-wrapper">
            <div class="header"></div>
            <div class="content pure-g">
                <% include ../general-sidebar %>
                <main class="pure-u-1 pure-u-md-5-6">
                        <h2>Turtle Watch</h2>
                    <p>
                        Turtle Watch is a project type based on the Dundas
                        Turtle Survey. The only difference from their survey is
                        certain very specific form elements (pile numbers,
                        specific locations) have been removed or genericized.
                    </p>
                    <p>
                        As with anything on this site at the moment, the
                        functionality is still under testing.
                    </p>
                </main>
            </div>
            <% include ../footer %>
        </div>
    </body>
</html>
