<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                    <div class="header">
                            <h2>Release notes: 0.10.0 (February 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Overall design cleanup</li>
                            <li>Added new data table management tools</li>
                            <li>Added CSV, JSON export of any data tables</li>
                            <li>New breadcrumb navigation layout</li>
                        </ul>
                    </div>
                <% include ../footer %>
            </div>
    </body>
</html>