<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                    <div class="header">
                            <h2>Release notes: 0.11.2 (February 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Fix for observation and survey number data row display</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.11.1 (February 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Fix for Breeding Bird Survey submission form</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.11.0 (February 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Added Tools section: First two are <strong>CBC CSV Simplifier</strong> and <strong>eBird Histogram Reader</strong> </li>
                            <li>Adds basic assignment support for Acoustic Surveys</li>
                            <li>Database: adds Assignment and Statuses tables for use in assigning and scheduling a survey</li>
                            <li>Additional security hardening of project routes</li>
                        </ul>
                    </div>
                <% include ../footer %>
            </div>
    </body>
</html>