<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                    <div class="header">
                            <h2>Release notes: 0.11.0 (February 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Added Tools section</li>
                        </ul>
                    </div>
                <% include ../footer %>
            </div>
    </body>
</html>