<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                    <div class="header">
                        <h2>Release notes: 0.16.8 (June 2020)</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Fix for submit data link for DTW.</li>
                        </ul>
                    </div>
                    <div class="header">
                        <h2>Release notes: 0.16.7 (Sept 2019)</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Fix for survey invalidation for Dundas Turtle Watch</li>
                        </ul>
                    </div>
                    <div class="header">
                        <h2>Release notes: 0.16.6 (June 2019)</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Various fixes for Dundas Turtle Watch</li>
                            <li>Some framework laid out for future reports system</li>
                        </ul>
                    </div>
                    <div class="header">
                        <h2>Release notes: 0.16.0 (April 2019)</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Added new "birdbox" project model for nesting box surveys</li>
                            <li>Added new QR code redirect system for surveys that are completed on-site</li>
                            <li>Added pages for "zones", currently aimed at being public pages for bird nesting boxes</li>
                        </ul>
                    </div>
                    <div class="header">
                        <h2>Release notes: 0.15.3 (April 2019)</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Fixes CSV issues introduced with new version of Sequelize</li>
                            <li>Various other fixes for forms</li>
                            <li>Turtle Watches now have quick-browse-by-survey</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.15.1 (March 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Limits audio clips to 20 minutes or less</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.15.0 (March 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Updates for Dundas Turtle Watch</li>
                            <li>New go-to-survey quick browse</li>
                            <li>Fixes for some language functions that were not working</li>
                            <li>Crash fix for observations with URLs contained in Markdown text</li>
                            <li>Added ability to have custom forms for observation-level records</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.14.0 (March 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Added priority and reviewed columns to Acoustic Surveys' tracksets</li>
                            <li>Can now flag remaining tracks in a trackset as null; or flag remaining priority tracks as null</li>
                            <li>Submitting observations for a file will now clear its `data` column correctly, allowing new clips and identifications</li>
                        </ul>
                    </div>
                    <div class="header">
                            <h2>Release notes: 0.13.0 (March 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Added identifications lists to acoustic surveys</li>
                            <li>Updated archive.org identifier for HamBio collection</li>
                        </ul>
                    </div>
                <% include ../footer %>
            </div>
    </body>
</html>