<!DOCTYPE html>
<html lang="en">
<% include ../head %>

    <body>
        <% include ../menu %>
            <div class="content-wrapper">
                    <div class="header">
                            <h2>Release notes: 0.13.0 (March 2019)</h2>
                        </div>
                    <div class="content">
                        <ul>
                            <li>Added identifications lists to acoustic surveys</li>
                            <li>Updated archive.org identifier for HamBio collection</li>
                        </ul>
                    </div>
                <% include ../footer %>
            </div>
    </body>
</html>