<!DOCTYPE html>
<html lang="en">
<% include head %>

    <body>
        <% include menu %>
            <div class="content-wrapper">
                <div class="header">
                    <h2>An Open Source Solution for Small-scale Personal and Community-based Citizen Science</h2>
                </div>
                <div class="content">
                    <main>
                        <p>Do you organize or participate in a simple community-based citizen science project, such as the Christmas
                            Bird Count, or a breeding species survey? Or do you collect data yourself often? EcoLore is designed to
                            help make the organizing of small-scale citizen science projects much easier.</p>
                        <p>Currently many community-based citizen science projects are coordinated purely via email and spreadsheets.
                            It's a vast improvement over by-phone and by-mail operations of the past, but is still can take
                            up a lot of time for an organizer. EcoLore is designed to help give a home-base for these projects
                            on the web, and give tools to coordinators to manage assigning of responsibilities, zones, and
                            scheduling of meetings. </p>
                        <p>Most importantly, it is designed to work alongside popular data-collection
                            sites such as eBird.
                        </p>
                        <h3>Project types supported</h3>
                        <p>By the end of 2019, the plan is to support the following project types:</p>
                        <ul>
                            <li>Acoustic Surveys</li>
                            <li>Christmas Bird Count</li>
                            <li>Turtle Watch (sponsored by Dundas Turtle Watch)</li>
                            <li>Breeding Bird Survey</li>
                            <li>IBA Survey</li>
                            <li>Generic Project (purely organizational only -- no special tools/features)</li>
                        </ul>
                        <p>In the longer term, some things that might be supported:</p>
                        <ul>
                            <li>Bird-a-thon</li>
                            <li>Wildflower Survey</li>
                            <li>Bioblitz</li>
                            <li>Big Year / Month / etc</li>
                            <li>Heritage Tree Survey</li>
                            <li>Butterfly/Dragonfly Survey</li>
                            <li>Waterfowl Survey</li>
                            <li>Historical Records Projects (digitization)</li>
                        </ul>

                        <h3>Data on EcoLore</h3>
                        <p>EcoLore's aims to provide a way to collect data on simple projects, but more complex needs should be
                            handled by other existing sites.
                        </p>
                        <p>For example, for many bird-related projects eBird should
                            still be where you go to submit data. EcoLore is meant to compliment, not compete, with services
                            like eBird. eBird is great for data submission -- but if you want to coordinate a large group of
                            counters into teams and assign zones, or track data that does not centre around checklists,
                            eBird has few solutions.
                        </p>

                        <h2>Technical FAQs</h2>

                        <h3>What happens with any data collected in the long term?</h3>

                        <p>A problem sites like this can have over time is what to do if the maintainer moves on.</p>
                        <p>It is the aim of this project to have this problem covered. The software is open source, and thus
                            anyone with the right know-how can duplicate the infrastructure. Each project admin will have
                            access to the ability to download all of their own data whenever they like.
                        </p>

                        <p>The only data that will not be availble for download is user account data.</p>

                        <h3>Why are there no passwords for accounts here?</h3>

                        <p>EcoLore uses a
                            <i>passwordless</i> method of authentication. So, when you "log in", you're given a link in your email
                            box to follow, and your ability to access that email is your authentication. It's easy, more secure than
                            a password, and shouldn't have to be done very often.</p>
                        <p>The only time you may need to use a password would be when linking a Google account for using Google Drive
                            to store photos or data backups, and that authentication is entirely done on Google's side of things.
                        </p>
                        <h3>How can I help?</h3>
                        <p>EcoLore's software is written in open source -- you can help contribute to make it even better! You
                            might not even need to be a programmer -- for instance, if you have a particular project type
                            you'd like to see supported, you could plan out what would need to be done in order to support
                            that project.
                        </p>
                    </main>
                </div>
                <% include footer %>
            </div>
    </body>

</html>