<footer>
    <div>
            EcoLore <a href="/release-notes/<%= $$ecoLoreVersion %>"><%= $$ecoLoreVersion %></a>,
            authored by <a target="_blank" href="http://robporter.ca/">Rob Porter</a> is an
            <a target="_blank" href="https://github.com/rgeraldporter/ecolore">open source</a> project.
    </div>
</footer>
