
<nav class="pure-u-1 pure-u-md-1-6 project-sidebar">

        <h3>Projects</h3>

        <div><a href="/projects">Public Project</a></div>
        <div><a href="/my-projects">My Projects</a></div>

        <h3>Project Types</h3>

        <div><a href="/project-types/acoustic-survey">Acoustic Surveys</a></div>
        <div><a href="/project-types/turtle-watch">Turtle Watch</a></div>

</nav>