<!DOCTYPE html>
<html lang="en">
    <% include head %>
  <body>
      <% include menu %>

      <div class="splash-container">
          <div class="splash">
              <h1 class="splash-head">cultivate local ecological knowledge</h1>
              <p class="splash-subhead">An online home for your citizen-science project.</p>
              <p class="splash-subhead">Launching in 2019 with support for acoustic surveys, turtle surveys, and breeding bird surveys.</p>
              <p>
                  <a href="https://groups.google.com/forum/#!forum/ecolore"  class="pure-button pure-button-primary button-secondary" target="_blank">Sign up for updates</a>
                  <a href="/about" class="pure-button pure-button-primary button-success">Learn more</a>
              </p>
              <!----div style="color:white; font-style:italic;font-size:0.775em;">
                    EcoLore <a href="/release-notes/<%= $$ecoLoreVersion %>"><%= $$ecoLoreVersion %></a>,
                    authored by <a target="_blank" href="http://robporter.ca/">Rob Porter</a> is an
                    <a target="_blank" href="https://github.com/rgeraldporter/ecolore">open source</a> project.
            </div-->
          </div>
      </div>
    </div>
  </body>
</html>