<!DOCTYPE html>
<html lang="en">

<% include head %>

<body>
    <% include menu %>
    <div class="content-wrapper">
        <div class="header">
        </div>
        <div class="content pure-g">

        <% include project-menu %>
        <% const isAdmin = project.memberRole === 'administrator' || project.memberRole === 'owner'; %>
        <% const isContrib = project.memberRole === 'administrator' || project.memberRole === 'owner'
            || project.memberRole === 'contributor'; %>

        <main class="pure-u-1 pure-u-md-5-6">
            <h3 class="content-subhead"><%= locals.t('Reports', project) %></h3>
            <% if(isAdmin) { %>
            <aside>
                <a href='/project/<%= project.slug %>/report/create'>Start a new <%= locals.t('Report', project) %></a><br>
            </aside>
            <% } %>

            <% include datatable %>

        </main>
    </div>
    <% include footer %>
</body>

</html>