<!DOCTYPE html>
<html lang="en">
    <% include head %>
  <body>
      <% include menu %>
      <div class="content-wrapper">
        <div class="header">
            <h2>Login verification email sent</h2>
        </div>
        <div class="content">
        <p>Please check your inbox at the email address you provided and click on the link provided to log in.
          This is how your authorization will be verified.</p>
        <h3>About login links</h3>
        <p>This site does not use passwords, but rather uses your email address to verify your identity.
          This site uses cookies to keep track of your login session.
          You will only need to log in again if your cookies are deleted, or if we update our security methods.</p>
      </div>
      <% include footer %>
    </div>
  </body>
</html>