<!DOCTYPE html>
<html lang="en">
    <% include head %>
  <body>
      <% include menu %>
      <div class="content-wrapper">
        <div class="header">
            <h2>Email sent</h2>
        </div>
        <div class="content">
        <p>Please check your inbox and click on the link provided to log in.</p>
      </div>
    </div>
  </body>
</html>